<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jnshu.dao.ProfessionMapper" >
  <resultMap id="BaseResultMap" type="com.jnshu.entities.Profession" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="profession" property="profession" jdbcType="VARCHAR" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
    <result column="difficulty" property="difficulty" jdbcType="VARCHAR" />
    <result column="period" property="period" jdbcType="VARCHAR" />
    <result column="need" property="need" jdbcType="INTEGER" />
    <result column="money1" property="money1" jdbcType="VARCHAR" />
    <result column="money2" property="money2" jdbcType="VARCHAR" />
    <result column="money3" property="money3" jdbcType="VARCHAR" />
    <result column="tips" property="tips" jdbcType="VARCHAR" />
    <result column="hidden_name" property="hiddenName" jdbcType="VARCHAR" />
    <result column="hidden_introduce" property="hiddenIntroduce" jdbcType="VARCHAR" />
    <result column="create_at" property="createAt" jdbcType="BIGINT" />
    <result column="update_at" property="updateAt" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, picture, profession, introduce, level, difficulty, period, need, money1, money2, 
    money3, tips, hidden_name, hidden_introduce, create_at, update_at
  </sql>
  <select id="selectProfessionAll" resultMap="BaseResultMap">
    SELECT * FROM profession
  </select>
    <!--</select>-->
    <!--<select id="selectCss" parameterType="java.lang.Integer" resultType="java.lang.Integer">-->
        <!--SELECT-->
        <!--COUNT (*)-->
        <!--FROM goodstudent-->
        <!--WHERE pid=2-->
    <!--</select>-->
  <select id="getBefore" resultMap="BaseResultMap">
    SELECT * FROM profession WHERE id =1 OR id=3
  </select>
  <select id="getAfter" resultMap="BaseResultMap">
    SELECT * FROM profession WHERE id =2 or id=4
  </select>
    <select id="selectNumber" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        SELECT
        COUNT(id)
        FROM goodstudent
        <where>
            <if test="_parameter=1">
                AND pid LIKE #{pid}
            </if>
            <if test="_parameter=2">
                AND pid LIKE #{pid}
            </if>
        </where>
     </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from profession
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from profession
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.jnshu.entities.Profession" >
    insert into profession (id, picture, profession, 
      introduce, level, difficulty, 
      period, need, money1, 
      money2, money3, tips, 
      hidden_name, hidden_introduce, create_at, 
      update_at)
    values (#{id,jdbcType=BIGINT}, #{picture,jdbcType=VARCHAR}, #{profession,jdbcType=VARCHAR}, 
      #{introduce,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{difficulty,jdbcType=INTEGER}, 
      #{period,jdbcType=VARCHAR}, #{need,jdbcType=INTEGER}, #{money1,jdbcType=VARCHAR}, 
      #{money2,jdbcType=VARCHAR}, #{money3,jdbcType=VARCHAR}, #{tips,jdbcType=VARCHAR}, 
      #{hiddenName,jdbcType=VARCHAR}, #{hiddenIntroduce,jdbcType=VARCHAR}, #{createAt,jdbcType=BIGINT}, 
      #{updateAt,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.jnshu.entities.Profession" >
    insert into profession
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="profession != null" >
        profession,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="difficulty != null" >
        difficulty,
      </if>
      <if test="period != null" >
        period,
      </if>
      <if test="need != null" >
        need,
      </if>
      <if test="money1 != null" >
        money1,
      </if>
      <if test="money2 != null" >
        money2,
      </if>
      <if test="money3 != null" >
        money3,
      </if>
      <if test="tips != null" >
        tips,
      </if>
      <if test="hiddenName != null" >
        hidden_name,
      </if>
      <if test="hiddenIntroduce != null" >
        hidden_introduce,
      </if>
      <if test="createAt != null" >
        create_at,
      </if>
      <if test="updateAt != null" >
        update_at,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        #{profession,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="period != null" >
        #{period,jdbcType=VARCHAR},
      </if>
      <if test="need != null" >
        #{need,jdbcType=INTEGER},
      </if>
      <if test="money1 != null" >
        #{money1,jdbcType=VARCHAR},
      </if>
      <if test="money2 != null" >
        #{money2,jdbcType=VARCHAR},
      </if>
      <if test="money3 != null" >
        #{money3,jdbcType=VARCHAR},
      </if>
      <if test="tips != null" >
        #{tips,jdbcType=VARCHAR},
      </if>
      <if test="hiddenName != null" >
        #{hiddenName,jdbcType=VARCHAR},
      </if>
      <if test="hiddenIntroduce != null" >
        #{hiddenIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        #{updateAt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jnshu.entities.Profession" >
    update profession
    <set >
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="profession != null" >
        profession = #{profession,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="difficulty != null" >
        difficulty = #{difficulty,jdbcType=INTEGER},
      </if>
      <if test="period != null" >
        period = #{period,jdbcType=VARCHAR},
      </if>
      <if test="need != null" >
        need = #{need,jdbcType=INTEGER},
      </if>
      <if test="money1 != null" >
        money1 = #{money1,jdbcType=VARCHAR},
      </if>
      <if test="money2 != null" >
        money2 = #{money2,jdbcType=VARCHAR},
      </if>
      <if test="money3 != null" >
        money3 = #{money3,jdbcType=VARCHAR},
      </if>
      <if test="tips != null" >
        tips = #{tips,jdbcType=VARCHAR},
      </if>
      <if test="hiddenName != null" >
        hidden_name = #{hiddenName,jdbcType=VARCHAR},
      </if>
      <if test="hiddenIntroduce != null" >
        hidden_introduce = #{hiddenIntroduce,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null" >
        create_at = #{createAt,jdbcType=BIGINT},
      </if>
      <if test="updateAt != null" >
        update_at = #{updateAt,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jnshu.entities.Profession" >
    update profession
    set picture = #{picture,jdbcType=VARCHAR},
      profession = #{profession,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=INTEGER},
      period = #{period,jdbcType=VARCHAR},
      need = #{need,jdbcType=INTEGER},
      money1 = #{money1,jdbcType=VARCHAR},
      money2 = #{money2,jdbcType=VARCHAR},
      money3 = #{money3,jdbcType=VARCHAR},
      tips = #{tips,jdbcType=VARCHAR},
      hidden_name = #{hiddenName,jdbcType=VARCHAR},
      hidden_introduce = #{hiddenIntroduce,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=BIGINT},
      update_at = #{updateAt,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>