<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jnshu.dao.StudentDao">
    <select id="studySelect" parameterType="String" resultType="com.jnshu.entity.Student">
        SELECT * FROM student WHERE name = #{name}
    </select>
    <insert id="studyInsert" parameterType="com.jnshu.entity.Student" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO student(name,qq,type,time,school,number,link,hope,referrer,from_where,id,create_at,update_at)
        values(#{name},#{qq},#{type},#{time},#{school},#{number},#{link},#{hope},#{referrer},#{from_where},#{id},#{create_at},#{update_at})
    </insert>
    <delete id="studyDelete" parameterType="int">
        DELETE FROM student WHERE id = #{id}
    </delete>
    <update id="studyUpdate" parameterType="com.jnshu.entity.Student">
        UPDATE student set name=#{name},qq=#{qq},type=#{type},time=#{time},school=#{school},number=#{number},link=#{link},hope=#{hope},referrer=#{referrer},from_where=#{from_where},create_at=#{create_at},update_at=#{update_at} WHERE id = #{id}
    </update>
    <select id="selectById" parameterType="int" resultType="com.jnshu.entity.Student">
        SELECT * FROM student WHERE id=#{id}
    </select>
    <select id="studentAll" parameterType="String" resultType="com.jnshu.entity.Student">
        SELECT * FROM student
    </select>
</mapper>