<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jnshu.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.jnshu.entities.User" >
    <result column="id" property="id" jdbcType="INTEGER"/>
    <result column="user" property="user" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
  </resultMap>
  <select id="isRightUser" resultType="com.jnshu.entities.User">
    SELECT * FROM user WHERE user=#{user} and password=#{password}
  </select>
  <select id="selectByName" resultType="com.jnshu.entities.User">
    select * from user WHERE user=#{user}
  </select>
  <select id="userAll" resultType="com.jnshu.entities.User">
    SELECT * FROM user
  </select>
  <insert id="insert" parameterType="com.jnshu.entities.User">
    INSERT INTO user(user,password,mobile,email,picture) VALUES (#{user},#{password},#{mobile},#{email},#{picture});
  </insert>
  <select id="select" resultType="com.jnshu.entities.User">
    SELECT * FROM user WHERE id=#{id}
  </select>
  <insert id="insertSelective" parameterType="com.jnshu.entities.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="user != null" >
        user,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="user != null" >
        #{user,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>